header .header{
  background-color: #fff;
  height: 45px;
}

header a img{
  width: 134px;
  margin-top: 4px;
}

/* лэйаут 1*/
.profile-page {
  width: 80%; /* зря  width: 540px;*/
  height: 890px; /* зря 80%; или 900px;*/
  padding: 1% 0 3% 10% ;
  margin: auto;
}
.edit-page {
      width: 80%; /* зря  width: 540px;*/
      height: 910px; /* зря 80%; или 900px;*/
      padding: 1% 0 3% 10% ;
      margin: auto;
}

.avataredit-page{
      width: 80%; /* зря  width: 540px;*/
      height: 150px; /* зря 80%; или 900px;*/
      padding: 1% 0 3% 10% ;
      margin: auto;
}

/* лэйаут 2*/
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 80%; /* max-width: 100%; *//* зря. А вот потом будешь разбираться с процентовкой */
  max-height: 930px; /*max-height: 100%; *//* зря. А вот потом будешь разбираться с процентовкой */
  /*margin: 0 auto 100px; лучше без */
  padding: 45px; /* по бокам */
  vertical-align: middle;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

/*шапка*/
.profile-page .form .profile{
  margin-top: -31px;
  margin-bottom: 26px;
}

.form input {
  font-family: "Armin Soft", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.form button {
  font-family: "Armin Soft", sans-serif; /* Roboto*/
  text-transform: uppercase;
  outline: 0;
  background-color: #328f8a;
  background-image: linear-gradient(65deg,#696969,#C0C0C0); /*DimGrey	#696969*/  /*linear-gradient(45deg,#328f8a,#08ac4b);*/
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}

.form .label {
  /*margin: 15px 0 0;*/
  text-align: left;
  color: #000;
  font-size: 14px;
  text-decoration: none;
}

.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}

body {
/*  background-image: url(../middle.messenger.praktikum.yandex/public/assets/img/profile.png);*/
  background-image: url(../img/profile.png);
  background-repeat: no-repeat;
  background-color: grey;
  background-size: 100%;
  font-family: "Armin Soft", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.form .mysidelink {
  margin: 15px 0 0;
  font-size: 12px;
  color: #000;
  text-decoration: none;
  text-align: left;
}

/* лэйаут 1*/
.avataredit-page {
  width: 80%; /* зря  width: 540px;*/
  padding: 1% 0 3% 10% ;
  margin: auto;
}

/*шапка*/
.avataredit-page .form .profile{
  margin-top: -31px;
  margin-bottom: 26px;
}
#imageUpload
{
    display: none;
}

#profileImage
{
    cursor: pointer;
}

#profile-container {
/*    width: 150px;
    height: 150px;*/
    overflow: hidden;
    border-radius: 50%;
}

#profile-container img {
/*    width: 150px;
    height: 150px;*/
}


/* Change avatar */
/* лэйаут 1*/
.avataredit-page {
  width: 80%; /* зря  width: 540px;*/
  height: 100%;
  padding: 1% 0 3% 10% ;
  margin: auto;
}
/*шапка*/
.avataredit-page .form .profile{
  margin-top: -31px;
  margin-bottom: 26px;
}
.avatar-edit {
   text-align: center;
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.avataredit-page-header{
  padding-bottom: 15px;
}
