header .header{
  background-color: #fff;
  height: 45px;
}

header a img{
  width: 134px;
margin-top: 4px;
}
.singup-page {
  width: 480px;
  padding: 10% 0 0;
  margin: auto;
}
.singup-page .form .singup{
  margin-top: -31px;
margin-bottom: 26px;
}
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 480px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Armin Soft", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  font-family: "Armin Soft", sans-serif; /* Roboto*/
  text-transform: uppercase;
  outline: 0;
  background-color: #328f8a;
  background-image: linear-gradient(65deg,#696969,#C0C0C0); /*DimGrey	#696969*/  /*linear-gradient(45deg,#328f8a,#08ac4b);*/
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #000; /*4CAF50;*/
  text-decoration: none;
  text-align: left;
}

.form .label {
  /*margin: 15px 0 0;*/
  text-align: left;
  color: #000;
  font-size: 12px;
  text-decoration: none;

}

.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}

body {
/*  background-image: url(../netlify/public/assets/img/backgroundV2.png);*/
  background-image: url(../singup/backgroundV2.png);
  background-repeat: no-repeat;
  background-color: grey;
  background-size: 100%;
  font-family: "Armin Soft", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
